@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.offer-grid {
  grid-template-columns: 1fr 1.5fr 1fr;
}

.category-card:hover {
  animation-name: shake;
  animation-duration: 0.2s;
  animation-iteration-count: 2;
}
/* animation  */
@keyframes shake {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(10px);
  }
}
.swiper-pagination {
  margin-bottom: 50px;
}
.home-slider {
  background-image: linear-gradient(rgb(179, 179, 179), rgb(255, 255, 255));
}
.slider-height {
  min-height: 50vh !important;
}
.swiper {
  width: 100%;
  height: 100%;
}
